<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <script src='javascripts/vendor/raphael.js'></script>
    <script src='javascripts/vendor/jquery.js'></script>
    <script src='javascripts/vendor/jquery-ui.js'></script>
    <script src='javascripts/vendor/jquery.ui.mouse.touch.js'></script>
    <script src='javascripts/vendor/doubletouch.js'></script>
    <script src='javascripts/sprite_loader.js'></script>
    <script src='javascripts/vendor/underscore.js'></script>
    <script src='javascripts/methods.js'></script>
    <script src='javascripts/stage.js'></script>
    <script src='javascripts/on_load.js'></script>

    <link href='css/reset.css' rel='stylesheet' type='text/css' />
    <link href='css/more.css' rel='stylesheet' type='text/css' />
    <link href='hopscotch.css' rel='stylesheet' type='text/css' />
    <link href='css/command_library.css' rel='stylesheet' type='text/css' />
    <link href='css/command_area.css' rel='stylesheet' type='text/css' />
    <link href='css/command_area.css' rel='stylesheet' type='text/css' />
    <link href='css/vendor/jquery-ui.css' rel='stylesheet' type='text/css' />
    <title>Hopscotch</title>
    <!-- iPad/iPhone specific css below, add after your main css >
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
    -->
    <!-- If your application is targeting iOS BEFORE 4.0 you MUST put json2.js from http://www.JSON.org/json2.js into your www directory and include it here -->
    <script type="text/javascript" charset="utf-8" src="phonegap-1.1.0.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26599714-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <a href="more.html" id="previous">Back</a>
    <div class='program more-games detail-page'>
      <div class='title'>
        Astro Defender
      </div>
      <div id="workspace">
				<div class='game-detail'>
       <img src='images/rocket.png'/>
 				</div>
				<div class="game-description">
					Get a kit to program your own spaceship shooting game!
					
					<blockquote>
										You are responsible for making sure all the people inside the rocketship are safe.  Make sure you shoot all the asteroids before they hit the rocketship!  
					</blockquote>
					
					Coming soon!  
				</div>
     </div>
    </div>
  </body>
</html>
