<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <script src='javascripts/vendor/raphael.js'></script>
    <script src='javascripts/vendor/jquery.js'></script>
    <script src='javascripts/vendor/jquery-ui.js'></script>
    <script src='javascripts/vendor/jquery.ui.mouse.touch.js'></script>
    <script src='javascripts/vendor/doubletouch.js'></script>
    <script src='javascripts/sprite_loader.js'></script>
    <script src='javascripts/vendor/underscore.js'></script>
    <script src='javascripts/methods.js'></script>
    <script src='javascripts/stage.js'></script>
    <script src='javascripts/on_load.js'></script>

    <link href='css/reset.css' rel='stylesheet' type='text/css' />
    <link href='css/more.css' rel='stylesheet' type='text/css' />
    <link href='hopscotch.css' rel='stylesheet' type='text/css' />
    <link href='css/command_library.css' rel='stylesheet' type='text/css' />
    <link href='css/command_area.css' rel='stylesheet' type='text/css' />
    <link href='css/command_area.css' rel='stylesheet' type='text/css' />
    <link href='css/vendor/jquery-ui.css' rel='stylesheet' type='text/css' />
    <title>Hopscotch</title>
    <!-- iPad/iPhone specific css below, add after your main css >
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
    -->
    <!-- If your application is targeting iOS BEFORE 4.0 you MUST put json2.js from http://www.JSON.org/json2.js into your www directory and include it here -->
    <script type="text/javascript" charset="utf-8" src="phonegap-1.1.0.js"></script>
    <script type="text/javascript">

      $.ajax({url: "http://hopscotch-data.herokuapp.com/analytics", data: {event: "loaded_crystal_ball"},  type: "POST"})
    </script>
  </head>
  <body>
    <a href="more.html" id="previous">Back</a>
    <div class='program more-games detail-page'>
      <div class='title'>
        Magic Crystal Ball
      </div>
      <div id="workspace">
        <div class='game-detail'>
       <img src='images/promos/magic8ball-2.png'/>
         </div>
        <div class="game-description">
          Get a kit to program your own Magic Crystal Ball game!
          <blockquote>
                    Have a question?  Shake the all-knowing crystal ball and get an answer!
          </blockquote>
          Coming soon!
        </div>
     </div>
    </div>
  </body>
</html>
