!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    %script{src: 'javascripts/vendor/raphael.js'}
    %script{src: 'javascripts/vendor/jquery.js'}
    %script{src: 'javascripts/vendor/jquery-ui.js'}
    %script{src: 'javascripts/vendor/jquery.ui.mouse.touch.js'}
    %script{src: 'javascripts/sprite_loader.js'}
    %script{src: 'javascripts/vendor/underscore.js'}
    %script{src: 'javascripts/methods.js'}
    %script{src: 'javascripts/hopscotch.js'}
    %script{src: 'javascripts/on_load.js'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/reset.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/hopscotch.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/command_library.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/command_area.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/command_area.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/vendor/jquery-ui.css'}
    %title Hopscotch
    -if params[:debug]
      %script{src: "http://#{request.env['SERVER_NAME']}:8080/target/target-script-min.js"}
  %body
    .stage
      .title stage
      #print-area
    #controls
      %a{href: "#", id: 'play'} Play
      %a{href: "#", id: 'help'} Help
      %a{href: "#", id: 'share'} Share
      #trash-bin Trash
    .program
      .title
        program
        %span.help theses methods will be executed when you press Play
      #command-area
        %ul#command-list
    .library
      .title
        library
        %span.help drag methods into the program area
      #command-library
        %ul#methods

    #play-dialog{"data-title" => "You need to choose some commands!"}
      %p Try dragging a method from the library area over to the program area

    #help-dialog{"data-title" => "Welcome to Hopscotch!"}
      %p You can animate the dinosaur by moving methods from the library over to the program area and pressing play.

    #share-dialog{"data-title" => "So glad you like us!"}
      %p We haven't made this functionality yet but it's coming soon.
