!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    %script{src: 'javascripts/vendor/raphael.js'}
    %script{src: 'javascripts/vendor/jquery.js'}
    %script{src: 'javascripts/vendor/jquery-ui.js'}
    %script{src: 'javascripts/vendor/underscore.js'}
    %script{src: 'javascripts/methods.js'}
    %script{src: 'javascripts/hopscotch.js'}
    %script{src: 'javascripts/on_load.js'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'hopscotch.css'}
    %title Hopscotch
  %body
    #controls
      %a{href: "#", id: 'play'} Play
      #trash-bin
    #print-area
    #command-area
      .title Commands
      #command-list
    #command-library
      .title Command Library
      #methods
