<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Hopscotch</title>
    <!-- iPad/iPhone specific css below, add after your main css >
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
    -->
    <!-- If your application is targeting iOS BEFORE 4.0 you MUST put json2.js from http://www.JSON.org/json2.js into your www directory and include it here -->
    <script type="text/javascript" charset="utf-8" src="phonegap-1.1.0.js"></script>
    <script src="http://10.10.10.127:8080/target/target-script-min.js"></script>
    <script type="text/javascript">
      window.localStorage.setItem("current-step", 0);



        // If you want to prevent dragging, uncomment this section
      /*
         function preventBehavior(e)
         {
         e.preventDefault();
         };
         document.addEventListener("touchmove", preventBehavior, false);
       */

      /* If you are supporting your own protocol, the var invokeString will contain any arguments to the app launch.
         see http://iphonedevelopertips.com/cocoa/launching-your-own-application-via-a-custom-url-scheme.html
         for more details -jm */
      /*
         function handleOpenURL(url)
         {
      // TODO: do something with the url passed in.
      }
       */

      function onBodyLoad()
      {
        document.addEventListener("deviceready", onDeviceReady, false);
      }

      function onDeviceReady()
      {
        $('head meta[name=viewport]').remove();
        $('head').prepend('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />');


      }

    </script>
    <link href='css/reset.css' rel='stylesheet' type='text/css' />
    <link href='css/styleguide.css' rel='stylesheet' type='text/css' />
  </head>
  <body class='code-editor'>
    <div id='left' class='motion'>
      <div id='menu_selector'>
        <ul>
        </ul>
      </div>
      <div id='command_selector'>
        <ul class='motion'></ul>
      </div>
    </div>
    <div id='middle'>
    </div>
    <div id='right'>
    </div>
  </body>
    <script src='javascripts/vendor/zepto.js' ></script>
    <script src='javascripts/vendor/underscore.js' ></script>
    <script src='javascripts/vendor/backbone.js' ></script>
    <script src='javascripts/vendor/raphael.js' ></script>
    <script src='javascripts/vendor/webkitdragdrop.js' ></script>
    <script src='javascripts/analytics.js' ></script>
    <script src='javascripts/stage.js' ></script>
    <script src='javascripts/menu.js'></script>
    <script src='javascripts/methods.js'></script>
    <script type="text/javascript">
      Analytics.record("loaded_app");
    </script>
</html>

