!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    %script{src: 'javascripts/vendor/raphael.js'}
    %script{src: 'javascripts/vendor/jquery.js'}
    %script{src: 'javascripts/vendor/jquery-ui.js'}
    %script{src: 'javascripts/vendor/jquery.ui.mouse.touch.js'}
    %script{src: 'javascripts/sprite_loader.js'}
    %script{src: 'javascripts/vendor/underscore.js'}
    %script{src: 'javascripts/methods.js'}
    %script{src: 'javascripts/hopscotch.js'}
    %script{src: 'javascripts/on_load.js'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'reset.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'hopscotch.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'command_library.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'command_area.css'}
    %title Hopscotch
    -if params[:debug]
      %script{src: "http://#{request.env['SERVER_NAME']}:8080/target/target-script-min.js"}
  %body
    .stage
      .title stage
      #print-area
    #controls
      %a{href: "#", id: 'play'} Play
      %a{href: "#", id: 'help'} Help
      %a{href: "#", id: 'share'} Share
      #trash-bin Trash
    .program
      .title program
      #command-area
        %ul#command-list
    .library
      .title library
      #command-library
        %ul#methods
