#workspace {
  border-top: 8px solid #c9d970;
  min-height: 295px;
}
#command-area {
  height: auto;
  width: 680px;
  float: left;
  height: 292px;
  overflow-y: scroll;
  margin-top: 3px;
  background: #cccaca;
}

.command-list.highlight {
  background-color: #eee;
}

.command-list {
  width: 166px;
  min-height: 292px;
  float: left;
}

.ui-state-highlight {
  height: 40px;
  background-color: #c9d970;
}

.args {
  position: relative;
  top: -4px;
  left: 3px;
}
.ui-dialog .args {
  font-size: 10px;
}
