#workspace {
  border-top: 8px solid #c9d970;
  min-height: 295px;
}
#command-area {
  height: auto;
  width: 725px;
  float: left;
  height: 292px;
  overflow-y: scroll;
  margin-top: 3px;
  background: #cccaca;
}

#command-area > .command-list.highlight {
  background-color: #eee;
  border: none;
  margin-left: 0;
}

.loop-commands .command-list.highlight{
  background-color: #f89bc9;
  border: none;
  margin-left: 0;
  border-radius: 15px;
  opacity: 0.4
}

.command-list {
  width: 166px;
  min-height: 292px;
  float: left;
}

.ui-state-highlight {
  height: 40px;
  width: 130px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #c9d970;
}

.args {
  position: relative;
  top: -2px;
  left: 2px;
}
.command-list .name, .command-list .times {
  font-size: 16px;
}
.ui-dialog .args {
  font-size: 10px;
}
