.more-games {
  width: 800px;
  float: right;
}
.game {
  width: 260px;
  height: 250px;
  padding-top: 45px;
  float: left;
  overflow: hidden;
}

.game img {
  border-radius: 24px;
  height: 150px;
  width: 150px;
}
.promo {
  height: 150px;
  width: 150px;
  border: 5px solid #828282;
  border-radius: 30px;
  margin: auto;
}
.your-own {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.game-name {
  text-align: center;
  margin-top: 4px;
  font-family: Helvetica, Arial;
}

.game-detail {
	float: left;
	border-radius: 30px;
	height: 150px;
	width: 150px;
	border: 5px solid #828282;
	}
	
.game-detail img {
	border-radius: 24px;
	height: 150px;
	width: 150px;	
}


.detail-page #workspace {
	padding: 40px;
}

.game-description {
	float: left;
	padding: 0px 40px;
	font-size: 22px;
	width: 450px;
	line-height: 30px;
	font-family: arial;
	color: #828282;
	}
	
.game-description blockquote {
  padding: 20px 0px 20px 20px;
  font-size: 18px;
}	