.tutorial {
  display: none;
}

#current-step.step-0 #command-library .command {
  display: none;
}

#current-step.step-0 #command-library .command.move {
  display: block;
}

#current-step.step-1 #command-library .command {
  display: none;
}

#current-step.step-1 #command-library .command.move, #current-step.step-1 #command-library .command.jump {
  display: block;
}

.ui-dialog .ui-dialog-content {
  font-family: "Nilland" !important;
}
#success {
  font-size: 50px;
  font-weight: bold;
}

.success .ui-dialog-buttonset {
  float: left !important;
  margin-left: 41px;
}

.ui-dialog .ui-dialog-title {
  margin: .1em 16px .1em 29px !important;
  font-size: 30px;
}
