body {
  width: 970px;
  font-family: "Nilland";
  padding: 20px;

}

.overlay {
  position: fixed;
  background: transparent url("images/menu-bg.jpg");
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  z-index: 999;
}
#loading {
  z-index: 9999;
  position: absolute;
  top: 300px;
  left: 500px;
  background: transparent url('images/loading.gif') 0 0 no-repeat;
  width: 32px;
  height: 32px;
}

#controls {
  width: 150px;
  clear: left;
}

#controls a, #trash-bin {
  display: block;
  height: 70px;
  width: 140px;
  background-position: top right;
  background-repeat: no-repeat;
  font-family: Geneva, Helvetica;
  font-size: 26px;
  color: #F6498A;
  text-decoration: none;
  text-align: left;
}

a#play {
  background-image: url(images/controls/play.png);
  margin-bottom: 46px;
  line-height: 64px;
}

a#play:active {
  background-image: url(images/controls/play-active.png);
}
a#menu {
  background-image: url(images/controls/previous.png);
  line-height: 64px;
}
a#menu:active {
  background-image: url(images/controls/previous-active.png);
}
a#share {
  padding-top: 4px;
  background-image: url(images/controls/share.png);
}
a#share:active {
  background-image: url(images/controls/share-active.png);
}
a#help {
  background-image: url(images/controls/help.png);
  line-height: 64px;
}
a#help:active {
  background-image: url(images/controls/help-active.png);
}
a#previous {
  display: block;
  height: 70px;
  width: 140px;
  background-position: top left;
  background-repeat: no-repeat;
  font-family: Geneva, Helvetica;
  font-size: 26px;
  color: #F6498A;
  text-decoration: none;
  text-align: right;
  line-height: 64px;
  float: left;
  margin-top: 300px;
  background-image: url(images/controls/previous.png);
}
a#previous:active {
  background-image: url(images/controls/previous-active.png);
}
#trash-bin {
  background-image: url(images/trash.png);
}

#print-area {
  border: 8px solid #c9d970;
  height: 305px;
  width: 804px;
  margin-bottom: 25px;
}

.title {
  text-align: left;
  padding: 2px;
  font-size: 31px;
  color: #828282;
}

.title .help {
  font-size: 13px;
}

li.loop.command, li.when.command {
  background: #f6498a;
  box-shadow: inset -5px -5px 5px #d23e76;
  position: relative;
}

.ui-dialog .loop-commands {
  overflow: visible !important;
}
.program .loop-commands {
  display: block;
  width: auto;
  background: transparent;
  border: none;
}
.loop-commands ul {
  min-height: 0px;
  height: auto;
}

.program .nestedCommands {
  display: block;
}

.nestedCommands {
  display: none;
  overflow: visible;
  position: absolute;
  background: transparent url(images/loop-dialog-top.png) no-repeat left top;
  width: 193px;
}

.nestedCommands .loop-commands {
  padding-left: 26px;
  padding-top: 3px;
  background: transparent url(images/loop-dialog-middle.png) repeat-y top left;
  position: relative;
  top: 36px;
}

.nestedCommands .command-list {
  background: none;
  float: none;
  min-height: 40px
}

.nestedCommands .bottom {
  background: transparent url(images/loop-dialog-bottom.png) no-repeat top left;
  height: 20px;
  position: relative;
  top: 30px;
}

.nestedCommands ul {
  position: relative;
  top: -30px;
}

.nestedCommands li {
  margin-left: 14px;
}

.ui-dialog .loop-commands ul {
  min-height: 200px;
  height: auto;
}

.ui-dialog {
  overflow: visible !important;
  height: auto;
}

.command {
  width: 140px;
  height: 40px;
  line-height: 35px;
  border-radius: 16px;
  text-align: center;
  background: #4daddc;
  color: white;
  z-index: 99;
  font-family: Geneva, Helvetica;
  font-size: 20px;
  margin: 6px;
  box-shadow: inset -5px -5px 5px #4397c0;
}

.command.active {
  background: #f6498a;
  box-shadow: inset -5px -5px 5px #d23e76;
}

li {
  list-style: none;
}

#controls, .stage, .library, .program {
  overflow: hidden;
  float: left;
}

.library {
  margin-right: 20px;
}
#controls {
  padding-top: 36px;
}

#play-dialog, #help-dialog, #share-dialog {
  display: none;
}

.arrow {
  width: 189px;
  height: 109px;
  background: transparent url(images/arrow.gif) no-repeat top left;
  position: absolute;
  opacity: 0.0;
  display: none;
}

em {
    font-style: italic;
}
.ui-icon {
  display: none !important;
}

.tutorial .previous-step {
  display: block;
  background: transparent url("images/controls/previous.png");
  height: 67px;
  width: 67px;
  text-indent: -9999px;
  margin: 20px;
  float: left;
}
.tutorial .previous-step:active {
  background: transparent url("images/controls/previous-active.png");
}
.tutorial .next-step {
  display: block;
  background: transparent url("images/controls/next.png");
  height: 67px;
  width: 67px;
  text-indent: -9999px;
  margin: 20px;
  float: right;
}
.tutorial .next-step:active {
  background: transparent url("images/controls/next-active.png");
}
