#command-area {
  border-top: 8px solid #c9d970;
  height: 295px;
  width: 532px;
  float: left;
}

#command-list {
  margin-top: 3px;
  height: 292px;
  width: 532px;
  float: right;
  background: #cccaca;
}

.ui-state-highlight {
  height: 40px;
  background-color: #c9d970;
}

.args {
  position: relative;
  top: -4px;
  left: 3px;
}
