#command-library {
  border-top: 8px solid #c9d970;
  height: 292px;
  width: 224px;
}

#command-library #methods {
  margin: auto;
  padding: 6px 20px;
}

#command-library .args {
  display: none;
}
