@font-face {
    font-family: 'Nilland';
    src: url('assets/Nilland.eot');
    src: url('assets/Nilland.eot?#iefix') format('embedded-opentype'),
         url('assets/Nilland.ttf') format('truetype'),
         url('assets/Nilland.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NillandBlackRegular';
    src: url('assets/Nilland-Black.eot');
    src: url('assets/Nilland-Black.eot?#iefix') format('embedded-opentype'),
         url('assets/Nilland-Black.ttf') format('truetype'),
         url('assets/Nilland-Black.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'MavenProBlack';
    src: url('/assets/maven_pro_black-webfont.eot');
    src: url('/assets/maven_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/maven_pro_black-webfont.woff') format('woff'),
         url('/assets/maven_pro_black-webfont.ttf') format('truetype'),
         url('/assets/maven_pro_black-webfont.svg#MavenProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProRegular';
    src: url('/assets/maven_pro_regular-webfont.eot');
    src: url('/assets/maven_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/maven_pro_regular-webfont.woff') format('woff'),
         url('/assets/maven_pro_regular-webfont.ttf') format('truetype'),
         url('/assets/maven_pro_regular-webfont.svg#MavenProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MavenProBold';
    src: url('/assets/maven_pro_bold-webfont.eot');
    src: url('/assets/maven_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/maven_pro_bold-webfont.woff') format('woff'),
         url('/assets/maven_pro_bold-webfont.ttf') format('truetype'),
         url('/assets/maven_pro_bold-webfont.svg#MavenProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MavenProMedium';
    src: url('/assets/maven_pro_medium-webfont.eot');
    src: url('/assets/maven_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/maven_pro_medium-webfont.woff') format('woff'),
         url('/assets/maven_pro_medium-webfont.ttf') format('truetype'),
         url('/assets/maven_pro_medium-webfont.svg#MavenProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}
