body {
  width: 900px;
  -webkit-user-select: none
}
#controls {
  float: right;
}
#controls a {
  display: block;
  height: 50px;
  width: 50px;
  background: url(/images/play_button.png) no-repeat;
  text-indent: -9999px;
}

#trash-bin {
  width: 228px;
  height: 228px;
  padding: 20px;
  border: 1px solid black;
  background: url(/images/trash.png) no-repeat center center;
}

#print-area {
  border: 2px solid gray;
  height: 200px;
  width: 500px;
}
#command-area {
  margin-top: 10px;
  border: 2px solid gray;
  height: 300px;
  width: 500px;
  float: left;
}
.title {
  text-align: center;
  padding: 2px;
}
#command-list {
  min-height: 200px;
  min-width: 200px;
  background: lightgray;
}

.command {
  border: 2px solid gray;
  margin: 6px 20px;
  width: 100px;
  padding: 2px;
  border-radius: 8px;
  text-align: center;
  background: white;
  z-index: 999;
}

#command-library {
  margin-top: 10px;
  border: 2px solid gray;
  height: 300px;
  width: 300px;
  float: right;
}
