body.menu {
  background: transparent url("images/menu-bg.jpg") no-repeat 0 0;
  padding: 0px;
  width: 1024px;
  height: 768px;
}

a {
  display: block;
  float: left;
  text-indent: -9999px;
  margin-top: 380px;
}
a#freeplay {
  width: 238px;
  height: 290px;
  margin-left: 56px;
}
a#challenge {
  width: 240px;
  height: 293px;
  margin-left: 32px;
}

